<!DOCTYPE html>
<html lang="eng">
<meta charset="UTF-8">

<head>
    <title>{% block title %}homepage{% endblock %}</title>
    {% block css %}{% endblock %}
</head>


<body >

{% block body %}

    <!-- tap on top starts-->

    {% block js %}{% endblock %}   <!-- tap on tap ends-->
{% endblock body %}
    <!-- page-wrapper Start-->

    <!-- page-wrapper ends-->


</body>
</html>
