<!-- region Footer -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 footer-copyright text-center">
                <p class="mb-0">{% trans %}dati aziendali footer{% endtrans %} | <a href="{{ path('content-privacy') }}">Privacy policy</a> | <a href="{{ path('content-cookies') }}">Cookie policy</a> | <a href="{{ path('content-contatti') }}">Contatti</a></p>
            </div>
        </div>
    </div>
</footer>
