<!-- region Footer -->
<footer class="footer" style="margin-left:0 !important;;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 footer-copyright text-center">
                <p class="mb-0">&copy; 2R Studio S.r.l. 2021  - info@2rstudio.it -  P.IVA 01746240504 | Privacy policy | Cookie policy | Contatti</p>
            </div>
        </div>
    </div>
</footer>