<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
	<a href="{{ path('ingresso') }}"
	   class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
		<svg class="bi me-2" width="40" height="32"></svg>
		<span class="fs-4">Sandbox</span>
	</a>
	<hr>
	<ul class="nav nav-pills flex-column mb-auto">
		<li class="nav-item">
			<a href="{{ path('sandbox') }}" class="nav-link active" aria-current="page">
				<svg class="bi me-2" width="16" height="16">
					<use xlink:href="#refresh"></use>
				</svg>
				Refresh
			</a>
		</li>
	</ul>
	<hr>

	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
		<p>Token: {{ app.user.userIdentifier }}</p>
	{% endif %}

	<a href="{{ path('logout') }}" class="nav-link text-white">
		<svg class="bi me-2" width="16" height="16">
			<use href="#"></use>
		</svg>
		Logout
	</a>
</div>
