<div class="card" id="notizie_principali">
    <div class="calender-widget" id="box_news">
            <div class="cal-img img-main-news" style="background-image: url('/assets/images/sponsor_background_test.jpg');"></div>
            <div class="cal-date">
                <h5>{{ 'now' | date('d') }}
                    <br>
                    {{ 'now' | date('M') }}
                </h5>
            </div>
            <div class="cal-desc text-center card-body cal-desc-main-news">
                <h6 class="f-w-600"></h6>
                <p class="text-muted mt-3 mb-0">Nessuna novità per adesso.</p>
            </div>
    </div>
</div>


