<div class="file-content">
    <div class="card resize_equal_height resize_equal_height_xl resize_equal_height_xxl">
        <div class="card-body file-manager">
            <h4 class="mb-3">Materiale per l'attività / Sponsorizzazioni</h4>
            <h6>Eventuale descrizione della cartella.</h6>
            <div class="m-b-20"></div>
            {{ alberoDocumentiviewAjax() }}
            <div class="m-b-20"></div>
            <ul class="files " id="appendiamoQui">
                <li class="file-box">
                    <div class="file-top">
                        <table class="icon_name_document m-auto">
                            <tr>
                                <td><i class="fa fa-file-pdf-o txt-secondary"></i></td>
                                <td>
                                    <h6>Documento di esempio 1</h6>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="file-bottom">
                        Documento con descrizione breve.
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>





</script>

