{% extends 'layouts/interno.html.twig' %}

{% block title %}Registrazione{% endblock %}

{% block css_page %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Cuba admin is super flexible, powerful, clean &amp; modern responsive bootstrap 5 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Cuba admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="pixelstrap">
    <link rel="icon" href="../assets/images/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="../assets/images/favicon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/themify.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css" integrity="sha512-Cv93isQdFwaKBV+Z4X8kaVBYWHST58Xb/jVOcV9aRsGSArZsgAnFIhMpDoMDcFNoUtday1hdjn0nGp3+KZyyFw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/scrollbar.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/animate.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/scrollbar.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/scrollable.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css" integrity="sha512-usVBAd66/NpVNfBge19gws2j6JZinnca12rAe2l+d+QkLU9fiG02O1X8Q6hepIpr/EYKZvKx/I9WsnujJuOmBA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <link id="color" rel="stylesheet" href="../assets/css/color-1.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../assets/css/responsive.css">
{% endblock css_page %}
{% block body %}
    <div class="container-fluid p-0">
        <div class="row m-0">
            <div class="col-12 p-0">
                <div class="login-card">
                    <div>
                        <div><a class="logo" href="index.html"><img class="img-fluid" src="/assets/images/logo/logo.png" alt="logo"></a></div>
                        <div class="login-main">
                            <div class="alert alert-success fade show text-center" role="alert">{% trans %}Account creato correttamente{% endtrans %}</div>
                            <form class="theme-form">
                                {% for message in app.flashes('success') %}
                                <h4 class="text-center">{{ message }}</h4>
                                {% endfor %}
                                <p class="text-center">{% trans %}Grazie per esserti iscritto a{% endtrans %}</p>
                                <img class="width_100 m-auto" src="/assets/images/mail-sent.gif" alt="mail sent" />
                                <div class="m-t-10"></div>
                                <p class="text-center">{% trans %}Ti abbiamo inviato una e-mail di benvenuto{% endtrans %}</p>
                                <div class="form-group mb-0">
                                    <a href="/login" class="btn btn-primary btn-block w-100">{% trans %}Vai al login{% endtrans %}</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js" integrity="sha512-72WD92hLs7T5FAXn3vkNZflWG6pglUDDpm87TeQmfSg8KnrymL2G30R7as4FmTwhgu9H7eSzDCX3mjitSecKnw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="../assets/js/icons/feather-icon/feather.min.js"></script>
        <script src="../assets/js/icons/feather-icon/feather-icon.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/simplebar/5.3.5/simplebar.min.js" integrity="sha512-PXNAvB6wWywrk43aV52x7sFuo+m/2cUJYGNGYe+frlHLVMd4vEMEAvHFg1b88wECIk7r/TOejo5xL63Uf/JmHg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="../assets/js/config.js"></script>
        <script src="../assets/js/script.js"></script>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function check_same_password(){
			if($("input[name=password]").val() != $("input[name=password_conferma]").val() ){
				alert('le password immesse noon corrispondono');
				event.preventDefault();
				event.stopPropagation();
            }
        }
		$(document).ready(function(){
			$.get("https://ipinfo.io", function(response) {
				$("#selezionaNazione_id").val(response.country);
				$("#selezionaNazione_id").change();
			}, "jsonp");
			$("#private-company input").change(function(){
				if($(this).val() == 'privato'){
					$('.company-data').hide();
					$('.private-data').show();
					$('[name="ragioneSociale"]').val('');
					$('[name="ragioneSociale"]').removeAttr('required');
					$('[name="cognome"]').attr('required', '');
					$('[name="nome"]').attr('required', '');
				} else{
					$('.company-data').show();
					$('.private-data').hide();
					$('[name="cognome"]').val('');
					$('[name="nome"]').val('');
					$('[name="ragioneSociale"]').attr('required', '');
					$('[name="nome"]').removeAttr('required');
					$('[name="cognome"]').removeAttr('required');

				}
			});

			$('[name="ragioneSociale"]').removeAttr('required');
			$('.company-data').hide();

			$('#selezionaNazione_id').on('change', function(){
				loadData($('#selezionaNazione_id').val());
			});
			$('#selezionaNazione_id').trigger('change');
		});

		function loadData(idNazione){
			if(typeof idNazione === 'undefined' || idNazione == ''){
				return;
			}

			let nazioneAgreements = "{{ path('ajax-agreements', { idNazione:':idNazione'}) }}";
			nazioneAgreements = nazioneAgreements.replace(':idNazione', idNazione);
			$.ajax({
				'url': nazioneAgreements,
				'method': 'GET',
				'success': function(risposta){
					$('#agreements').html(risposta);
					$('.overflow_agreement').css('min-height','80px');
				}
			})
		}
    </script>

    {% block js %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
                integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js"
                integrity="sha512-72WD92hLs7T5FAXn3vkNZflWG6pglUDDpm87TeQmfSg8KnrymL2G30R7as4FmTwhgu9H7eSzDCX3mjitSecKnw=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="../assets/js/icons/feather-icon/feather.min.js"></script>
        <script src="../assets/js/icons/feather-icon/feather-icon.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/simplebar/5.3.5/simplebar.min.js"
                integrity="sha512-PXNAvB6wWywrk43aV52x7sFuo+m/2cUJYGNGYe+frlHLVMd4vEMEAvHFg1b88wECIk7r/TOejo5xL63Uf/JmHg=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="../assets/js/scrollable/perfect-scrollbar.min.js"></script>
        <script src="../assets/js/scrollable/scrollable-custom.js"></script>
        <script src="../assets/js/config.js"></script>
        <script src="../assets/js/script.js"></script>
    {% endblock js %}
{% endblock body %}

{% block javascript_page %}

{% endblock javascript_page %}

