.left-header .level-menu .header-level-menu.show {
			height: auto !important;
		}

		.left-header .level-menu .header-level-menu {
			width: 220px !important;
		}

		.left-header .level-menu .nav-link {
			background-color: rgba(115, 102, 255, 0.15);
			color: var(--theme-deafult);
		}

		.left-header .level-menu .nav-link svg {
			stroke: var(--theme-deafult);
		}

		.page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper .logo-wrapper, .page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper .logo-icon-wrapper {
			padding: 7px 31px;
		}

		.img-main-news {
			height: 239px !important;
		}

		.cal-desc-main-news {
			height: 142px;
			overflow: hidden;
		}

		.cal-desc-main-news-more {
			height: 50px;
			overflow: hidden;
		}

		.calender-widget .cal-img {
			background: none;
			border-top-left-radius: 12px;
			border-top-right-radius: 12px;
		}

		#box_news .img-main-news {
			background: url(/assets/images/news_main.jpg);
			background-size: cover;
		}

		.card .card-body {
			padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 40px;
			padding-right: 40px;
		}

		.typehead_utente_dashboard {
			background-color: transparent;
			font-size: 24px;
			font-weight: 500;
			color: black;
			border: none;
			padding-top: 0px;
			line-height: 0;
		}

		#typehead_ID_utente {
			float: right;
			margin-top: -2px;
			border-bottom: 1px solid #ced4da;
		}
		body.dark-only #typehead_ID_utente {
            border-bottom: 1px solid #374558;
        }

		#typehead_ID_utente i {
			color: #ced4da;
		}

		#typehead_ID_utente .input-group-text {
			border: none;
			background: transparent;
		}

		#typehead_ID_cliente {
            float: right;
            margin-top: -2px;
            border-bottom: 1px solid #ced4da;
        }
        body.dark-only #typehead_ID_cliente {
            border-bottom: 1px solid #374558;
        }

        #typehead_ID_cliente i {
            color: #ced4da;
        }

        #typehead_ID_cliente .input-group-text {
            border: none;
            background: transparent;
        }

		#div_chart_filters {
			padding-top: 15px;
		}

		#div_chart_filters .col-md-6 {
			float: left;
			padding: 15px;
		}

		.earning-card.card .card-body .chart-left {
			padding: 10px 0 10px 40px;
		}

		.earning-card.card .card-body .chart-right .p-tb {
			padding: 18px 0;
		}

		.earning-card.card .card-body .border-top {
			border-top: 1px solid #ecf3fa !important;
			padding: 21px 17px 22px 34px;
		}

		#div_totali {
			text-align: center;
		}

		#div_totali h4 {
			font-size: 23px;
			margin-top: 10px;
			margin: auto;
		}

		#div_totali a {
			font-weight: 200;
		}

		.div_totali_value {
			height: 60px;
			/*display: table-cell;*/
			display: flex;
			vertical-align: middle;
			width: 100%;
		}

		.div_totali_text {
			height: 60px;
			display: table-cell;
			vertical-align: middle;
			color: #adadad;
		}

		.chart_data_left .card-body .chart-main .media, .chart_data_right .card-body .chart-main .media {
			padding: 30px 40px;
		}

		#div_totali .col-md-3 {
			float: left;
		}

		#div_totali .col-md-6 {
			float: left;
		}

		.chart_data_left .card-body .chart-main .media .media-body .right-chart-content, .chart_data_right .card-body .chart-main .media .media-body .right-chart-content {
			text-align: -webkit-center;
		}

		.chart_data_left .card-body .chart-main .media, .chart_data_right .card-body .chart-main .media {
			padding: 30px 10px;
		}

        #typehead_sottoposti .tt-suggestion {
            font-size: 15px !important;
            padding: 6px 12px;
       }
       .page-wrapper .sidebar-main-title>div {
           background-color: rgba(104, 152, 224, 0.06) !important;
       }
       .left-header .level-menu .nav-link {
           background-color: rgba(104, 152, 224, 0.06) !important;
       }
       .badge-info {
           background-color: #2793f9;
       }
       .page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper .sidebar-main .sidebar-links .simplebar-wrapper .simplebar-mask .simplebar-content-wrapper .simplebar-content>li.sidebar-list:hover>a:hover {
           background-color: rgb(246, 249, 254);
       }
       #top5_container{
            padding-left: 20px !important;
            padding-right: 20px !important;
       }
       #top5-vendite-tab{
        //padding-left: 0px;
       }
       #top5_container td{
        padding: 0;
       }
       #top5_header{
        border-bottom: 1px solid #ffffff;
       }
       body.dark-only #top5_header{
       border-bottom: 1px solid #374558;
      }
       .top5_users_list hr{
           margin: 8px 0;
           background-color: #c6c8c9;
       }
       .span_qualifica_1 {
           padding: 4px 10px;
           border: 1px solid #0d6efd;
           border-radius: 10px;
           font-size: 90%;
           font-weight: 400 !important;
           letter-spacing: 1px;
           color: black !important;
       }
       .span_qualifica_2 {
          padding: 4px 10px;
          border: 1px solid green;
          border-radius: 10px;
          font-size: 90%;
          font-weight: 400 !important;
          letter-spacing: 1px;
          color: black !important;
      }
      .span_qualifica_3 {
                padding: 4px 10px;
                border: 1px solid #FFCC00;
                border-radius: 10px;
                font-size: 90%;
                font-weight: 400 !important;
                letter-spacing: 1px;
                color: black !important;
            }
      .indent_15{
        padding-left: 15px;
      }
      #carriera_container hr{
        background: #b8bcbf;
      }
      .opacity-50{
      opacity: 0.5;
      }
      #top5_carriera_sponsor .row {
       display: -webkit-box;
       display: -webkit-flex;
       display: -ms-flexbox;
       display:         flex;
       flex-wrap: wrap;
     }
     #top5_carriera_sponsor .row > [class*='col-'] {
       display: flex;
       flex-direction: column;
     }
     .height_100{
     height: 100%;
     }
     .width_100{
       width: 100%;
       }
   .width_50{
          width: 50%;
          }
     #div_sponsor h6{
     margin-bottom: 10px;
     }
     .earning-card.card .card-body .inner-top-right ul li:before {
         left: -10%;
     }
     .earning-card.card .card-body .inner-top-left ul li, .earning-card.card .card-body .inner-top-right ul li {
         margin-left: 24px;
     }
     #div_chart_filters .float-start{
        padding-right: 4px;
     }
     .card .card-header>span {
         font-size: 14px;
     }
     .overflow_x_hidden{
        overflow-x: hidden !important;
     }
table.dataTable thead th, table.dataTable tfoot th {
    font-weight: 600 !important;
    font-size: 14px !important;
    color: var(--bs-gray-dark) !important;
    font-family: 'Roboto';
}
table.dataTable td{
    font-size: 14px !important;
    //color: #646c9a !important;
    color: var(--bs-gray-dark) !important;
    font-family: 'Roboto';
}
#filter_button_datatable{
    border: 1px solid #efefef;
    padding:10px;
    width: fit-content;
    /*position:absolute;*/
    top:0px;
    cursor:pointer;
}
#filter_button_datatable:hover{
    background: #fafafa;
}
#datatable_responsive_orders_filter label{
    visibility:visible;
    height:auto;
    overflow:none;
}
@media (max-width: 480px) {
    #datatable_responsive_orders_filter label{
        visibility:hidden;
        height:1px;
        overflow:hidden;
    }
}
#applied_filters_datatable .badge{
  margin: 5px;
  font-weight: 500 !important;
}
#table_filters{
    width:100%;
}
#table_filters td:nth-child(1){
    width:110px;
    padding-right:10px;
}
.typehead_utente_dashboard_filtri{
    font-size: inherit !important;
}
.typehead_cliente_dashboard_filtri{
    font-size: inherit !important;
}
.select2-selection{
    width: 100%;
    padding: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 0.5;
    padding-left: 8px;
}
#filters_datatable .select2-selection__choice {
   padding: 2px 2px !important;
   margin-top: 3px !important;
   background-color: #d2d2d2 !important;
   font-size: small !important;
   color: #333 !important;
   margin-right: 8px !important;
   border-color: transparent !important;
}
#filters_datatable input{
    font-size: 13px !important;
}
#filters_datatable{
    border: 1px solid #fafafa;
    padding: 15px;
    background: #fafafa;
    border-radius: 10px;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
    line-height: 0.5 !important;
    border: 1px solid #ced4da !important;
    outline: 0 !important;
    min-height: 34px !important;
    /*padding-top: 6px !important;*/
}
.select2-search {
    line-height: 1.5 !important;
    outline: 0 !important;

    padding: 6px !important;
}
.select2-container--default .select2-selection--multiple {
    background-color: white !important;
    border: 1px solid #ced4da !important;
    border-radius: 4px !important;
    cursor: text !important;
    min-height: 34px !important;
}
.selection .select2-selection .select2-search__field {
    padding-top: 3px !important;
}
.datepicker--day-name {
    color: #9b9b9c !important;
    font-weight: normal;
}
#filters_datatable .select2-selection__choice {
    padding: 11px 8px !important;
}
.page-wrapper.compact-wrapper .page-body-wrapper .page-body {
    min-height: calc(100vh - 133px) !important;
}
.dt-ext .dataTables_wrapper .page-item.active .page-link {
    color: rgb(255, 255, 255);
    background-color: var(--bs-gray) !important;
    border-color: var(--bs-gray) !important;
}
.dt-ext .dataTables_wrapper .dataTables_paginate .page-link {
    margin-left: 0px;
    color: var(--bs-gray);
}
#datatable_responsive_orders_container .btn-sm{
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.dt-ext td.dt-right{
    padding-right: 30px !important;
}
#applied_filters_datatable{
   position: relative;
}
#applied_filters_datatable_container{
   height:auto;
   overflow: none;
   white-space: none;
   position: relative;
   width: 100%;
   margin-top: 0px;
}
@media (max-width: 480px) {
    #applied_filters_datatable_container{
       height:30px;
       overflow: auto;
       white-space: nowrap;
       position: absolute;
       width: 200px;
       margin-top: -16px;
    }
}
.static-top-widget h4{
    line-height: 0.7 !important;
}
.typeahead {
    min-height: 40px;
}
.display-inherit{
    display: inherit;
}
#datatable_responsive_orders_container button i{
    padding-left:4px;
}
#table_profile_general_data td:nth-child(2){
    color: black;
    padding-left: 10px;
}

#btn-oblio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}
#btn-oblio svg{
    margin-right: 10px;
}
select.form_control{
appearance: auto !important;
-webkit-appearance: none !important;
-moz-appearance: none !important;
}

//	*** print ***
#div_header_print{
    display: none;
}
.not-printable{
    display: block;
}
#div_header_print table{
    width: 100%;
}
#div_header_print table td:nth-child(2){
    color:gray;
    font-size: 11px;
}
.card .card-header h5 {
    font-size: 18px !important;
    font-weight: 400 !important;
    text-transform: none !important;
}
.card .card-header {
    padding-top: 30px;
    padding-bottom: 30px;
}
#div_profile_general_data{
    width: 100%;
}
#table_profile_general_data{
    margin-top: auto;
    float: none;
}
@media (max-width: 1024px) {
    #div_profile_general_data{
        width: fit-content;
    }
    #table_profile_general_data{
        margin-top: -158px !important;
        float: right;
    }
    .profile-details h4{
        font-size: 16px;
    }
}
@media (max-width: 375px) {
    #div_profile_general_data{
        width: 100%;
    }
    #table_profile_general_data{
        margin-top: 0px !important;
        float: none;
    }
    .profile-details h4{
        font-size: 16px;
    }
}
@media print {
    #div_header_print{
        display: block;
    }
    #row_tree_filters{
        background: white;
    }
    .not-printable{
        display: none;
    }
    .sidebar-wrapper {
        display: none;
    }
    .page-header {
        display: none;
    }
    .page-wrapper.compact-wrapper .page-body-wrapper .page-body {
        margin-top: 0px;
        margin-left: 0px;
    }
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: none;
    }
    .card{
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border-radius: 0 !important;
    }
    .page-wrapper .page-body-wrapper {
        background-color: #ffffff;
    }
    footer{
        display: none;
    }
    body{
        width: 210mm;
        min-height: 297mm;
    }
    #buttons_print_back{
        display: none;
    }
    table td h6{
        font-size: 12px;
    }
    table td p{
        font-size: 12px;
    }
}

.total-users {
  .goal-chart {
    margin: -35px -15px -30px;

    .apexcharts-datalabels-group {
      text {
        font-weight: 700;

        &:last-child {
          fill: #666666;
        }
      }
    }
  }

  .goal-status {
    ul {
      li {
        +li {
          margin-top: 30px;
          padding-top: 30px;
        }

        .goal-detail {
          margin-bottom: 30px;

          h6 {
            margin-bottom: 16px;
          }
        }
      }

      &:last-child {
        li {
          border-top: 1px solid #666666;
          margin-top: 27px;
          padding-top: 27px;
        }
      }
    }

    .rate-card {
      >ul {
        li {
          &:last-child {
            border-top: none;
          }
        }
      }
    }

    >ul {
      li {
        &:last-child {
          border-top: none;
        }
      }
    }

    .goal-end-point {
      ul {
        li {
          &:first-child {
            border-top: none;
          }
        }
      }
    }
  }
}

#table_documents_uploaded{
    margin-bottom: 20px !important;
}
#table_documents_uploaded td{
    text-align: left !important;
    padding: 6px !important;
    margin-bottom: 20px !important;
}
.text-gray-light{
    color:#bbbbbb !important;
}
.total-users .goal-status ul:last-child li {
    border-top: 1px solid #ecf3fa !important;
}
.form_upload_documents hr {
    border-bottom: 1px solid #ecf3fa !important;
    opacity: 1 !important;
    background: transparent;
}
.form_upload_documents button{
  width: 100% !important;
  max-width: 190px;
}
.dz-remove {
    bottom: -25px;
    position: absolute;
    left: 17px;
}
.form-control.is-valid, .was-validated .form-control:valid {
    border-color: #ced4da;
    padding-right: auto;
    background-image: none;
}
.invalid-feedback{
    color: #dd4050 !important;
}
.product-box .modal .modal-header .product-box .product-details .product-size ul li {
    margin-bottom: 10px !important;
}
.list-group-item{
    padding-left: 0px !important;
}
.text-black{
    color: black;
}
.flag_pin{
    height: 95px !important;
    margin-top: 16px !important;
}
.visibility-hidden{
    visibility: hidden;
}
.hr_light{
    border-top: 1px solid #cccccc;
}
.btn-primary.disabled, .btn-primary:disabled {
    background-color: #dbdde1 !important;
    border-color: #e7e8eb !important;
    color: #666666 !important;
    cursor: not-allowed !important;
}
.pricingtable .pricing-content {
    max-width: 300px !important;
    text-align: justify !important;
}
.pricingtable{
    border:1px solid #b0b0b0 !important;
}
.pricingtable.current_role{
    border:1px solid #333333 !important;
}
.pricingtable .pricing-content li {
    font-weight: 300;
    line-height: 1.3 !important;
}
.pricingtable hr {
    margin-left:0px;
    margin-right:0px;
    margin-top: 4px !important;
    margin-bottom: 4px !important;
    border-top:1px solid #b0b0b0;
    border-bottom:1px solid #b0b0b0;
    border-bottom: none;
    width: 96%;
    margin: auto;
    text-align: center;
}
.pricingtable .pricing-content li.not_reached:before {
    content: "\f096";
    color: #b0b0b0 !important;
    font-family: FontAwesome;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 0;
}
.pricingtable .pricing-content li.not_reached {
    color: #b0b0b0 !important;
}
.pricingtable .pricing-content li.trophy:before {
    content: "\f091" !important;
    font-family: FontAwesome;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 0;
}
.cursor_normal{
  cursor: normal !important;
}
.item_footer {
    bottom: 20px;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 98%;
}
.color-black {
    color: black !important;
}
#table_counter_mail td{
    padding-right: 15px !important;
    border-bottom: 1px solid #e0e0e0;
    color: gray;
}
.icon_name_document{
   width: min-content !important;
}
.icon_name_document td:nth-child(2){
   padding-left: 15px !important;
}
.file-box{
   display: inline-grid !important;
   cursor: pointer !important;
}
.file-box:hover{
   background: #dedede !important;
}
.folder-box{
   display: inline-grid !important;
   cursor: pointer !important;
}
.folder-box:hover{
   background: #dedede !important;
}
#table_product_info td:nth-child(2){
  padding-left: 15px !important;
}
.login-card .login-main .theme-form .or:before {
    width: 50% !important;
}
.login-card{
    background-size: cover !important;
    background: url('../images/login/bg_login.jpg') center center;
}
.img_circle_centered{
    width: 100%;
    position: absolute;
    text-align: center;
    margin-top: -100px;
}
.img_circle_centered img{
    width: 150px;
    height: 150px;
    border:4px solid #ffffff;
}

@media (max-width: 1440px) {
    .img_circle_centered{
        margin-top: -60px;
    }
    .img_circle_centered img{
        width: 100px;
        height: 100px;
    }
}
@media (max-width: 1200px) {
    .img_circle_centered{
        margin-top: -70px;
    }
    .img_circle_centered img{
        width: 100px;
        height: 100px;
    }
}
@media (max-width: 992px) {
    .img_circle_centered{
        margin-top: -70px;
    }
    .img_circle_centered img{
        width: 100px;
        height: 100px;
    }
}
@media (max-width: 768px) {
    .img_circle_centered{
        margin-top: -115px;
    }
    .img_circle_centered img{
        width: 100px;
        height: 100px;
    }
}
@media (max-width: 576px) {
    .img_circle_centered{
        margin-top: -60px;
    }
    .img_circle_centered img{
        width: 60px;
        height: 60px;
    }
}
.pencil-wrapper {
    position: absolute;
    bottom: -3px;
    left: 51%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    overflow: hidden;
    margin: 0 auto;
    font-size: 17px;
}
.bg-transparent{
    background: transparent !important;
}
.display-table-cell-hidden-mobile{
    display: table-cell !important;
}
@media (max-width: 576px) {
    .display-table-cell-hidden-mobile{
        display: none !important;
    }
    .order-history table {
        width: 100%;
    }
}
.checkout-details {
    background-color: rgb(249, 249, 249) !important;
    border: 1px solid rgb(221, 221, 221) !important;
    padding: 40px !important;
}
.order-box .qty {
    border-bottom: none !important;
    margin-bottom: 0px !important;
}
.order-box .total li {
    font-weight: 600 !important;
}
.order-box .sub-total li .count {
    font-weight: 600 !important;
}
.order-box .qty li span {
   font-size: 14px !important;
}
.chosen_method{
    border:1px solid #eaeaea;
    width: 100%;
    padding: 15px;
    font-size: 15px;
}
.chosen_method label{
    margin-bottom: 0px !important;
}
.chosen_method p{
    font-size: 15px !important;
}
.chosen_method td{
    vertical-align: middle !important;
}
.chosen_method table{
    width:100%;
}
.chosen_method table td:nth-child(1){
    width:20px;
}
.chosen_method table td:nth-child(3){
    width:100px;
}
.chosen_method hr{
    background-color: #eaeaea !important;
}
#div_stores table td{
    width:50%;
}
h1,h2,h3,h4,h5,h6{
    text-transform: none !important;
}
.default-according .card .btn-link{
    font-weight: 400 !important;
    font-size: 13px !important;
}
.table-td-vertical-align-middle td{
    vertical-align: middle !important;
}
#best-products hr{
    border:none;
    border-bottom: 1px solid #ecf3fa;
    opacity: 1;
    margin-top:5px !important;
    margin-bottom:5px !important;
}
#reorder-products hr{
    border:none;
    border-bottom: 1px solid #ecf3fa;
    opacity: 1;
    margin-top:5px !important;
    margin-bottom:5px !important;
}
.price-value-free .duration{
    font-size: 16px !important;
}
.price-value-free{
    background-color: var(--theme-secondary) !important;
}
.font-size-15{
    font-size: 15px !important;
}
.display-inline{
    display: inline !important;
}
@media (min-width: 769px) {
    .login-card .div_registrazione {
        width: 960px;
    }
}
.overflow_agreement{
    max-height: 100px;
    overflow-y:scroll;
}
.scroll-demo {
    height: auto !important;
}
#filters_datatable.datatable_struttura input {
    padding-top: 10px;
    padding-bottom: 9px;
}
#filters_datatable.datatable_struttura select {
    font-size: 13px !important;
    padding-top: 10px;
    padding-bottom: 9px;
}