<div class="col-xl-3 col-sm-6 xl-4">
    <div class="card">
        <div class="product-box">
            <div class="ribbon ribbon-success ribbon-right">50%</div><div class="product-img"><img class="img-fluid" src="../assets/images/ecommerce_product_1.jpg" alt="">
                <div class="product-hover">
                    <ul>
                        <li>
                            <button class="btn" type="button"><i class="icon-shopping-cart"></i></button>
                        </li>
                        <li>
                            <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalCenter"><i class="icon-eye"></i></button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="product-box row">
                                <div class="product-img col-lg-6"><img class="img-fluid" src="../assets/images/ecommerce_product_1.jpg" alt=""></div>
                                <div class="product-details col-lg-6 text-start">
                                    <h4>Dark Chocolate</h4>
                                    <table class="width_100">
                                        <tr>
                                            <td><div class="product-price">&euro; 26,00<del>&euro; 52,00</del></div></td>
                                            <td class="text-gray-light text-end">26 PC</td>
                                        </tr>
                                    </table>
                                    <div class="product-view">
                                        <h6 class="f-w-600">Dettagli del prodotto</h6>
                                        <p class="mb-0">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo.</p>
                                    </div>
                                    <div class="product-size">
                                        <ul>
                                            <li>
                                                <button class="btn btn-outline-light" type="button">50 g</button>
                                            </li>
                                            <li>
                                                <button class="btn btn-outline-light" type="button">100 g</button>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-qnty">
                                        <h6 class="f-w-600">Quantità</h6>
                                        <fieldset>
                                            <div class="input-group">
                                                <input class="touchspin text-center" type="number" value="5">
                                            </div>
                                        </fieldset>
                                        <div class="addcart-btn">
                                            <button class="btn btn-primary" type="button">Acquista</button>
                                            <button class="btn btn-secondary" type="button">Vedi dettagli</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Chiudi"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-details">
                <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                <h4>Dark Chocolate</h4>
                <p>Cod. MNS-.SHRT</p>
                <table class="width_100">
                    <tr>
                        <td><div class="product-price">&euro; 26,00<del>&euro; 52,00</del></div></td>
                        <td class="text-gray-light text-end">26 PC</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- endregion singolo prodotto -->
<div class="col-xl-3 col-sm-6 xl-4">
    <div class="card">
        <div class="product-box">
            <div class="product-img">
                <img class="img-fluid" src="../assets/images/ecommerce_product_2.jpg" alt="">
                <div class="product-hover">
                    <ul>
                        <li>
                            <button class="btn" type="button"><i class="icon-shopping-cart"></i></button>
                        </li>
                        <li>
                            <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalCenter1"><i class="icon-eye"></i></button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter1" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="product-box row">
                                <div class="product-img col-lg-6"><img class="img-fluid" src="../assets/images/ecommerce_product_2.jpg" alt=""></div>
                                <div class="product-details col-lg-6 text-start">
                                    <h4>Scrub Cream</h4>
                                    <div class="product-price">&euro; 26,00</div>
                                    <div class="product-view">
                                        <h6 class="f-w-600">Dettagli del prodotto</h6>
                                        <p class="mb-0">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo.</p>
                                    </div>
                                    <div class="product-size">
                                        <ul>
                                            <li>
                                                <button class="btn btn-outline-light" type="button">20 ml</button>
                                            </li>
                                            <li>
                                                <button class="btn btn-outline-light" type="button">50 ml</button>
                                            </li>
                                            <li>
                                                <button class="btn btn-outline-light" type="button">100 ml</button>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-qnty">
                                        <h6 class="f-w-600">Quantità</h6>
                                        <fieldset>
                                            <div class="input-group">
                                                <input class="touchspin text-center" type="number" value="5">
                                            </div>
                                        </fieldset>
                                        <div class="addcart-btn">
                                            <button class="btn btn-primary" type="button">Acquista</button>
                                            <button class="btn btn-secondary" type="button">Vedi dettagli</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Chiudi"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-details">
                <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                <h4>Scrub Cream</h4>
                <p>Cod. SCRB-CRM01</p>
                <div class="product-price">&euro; 26,00</div>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-3 col-sm-6 xl-4">
    <div class="card">
        <div class="product-box">
            <div class="product-img"><img class="img-fluid" src="../assets/images/ecommerce_product_3.jpg" alt="">
                <div class="product-hover">
                    <ul>
                        <li>
                            <button class="btn" type="button"><i class="icon-shopping-cart"></i></button>
                        </li>
                        <li>
                            <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalCenter2"><i class="icon-eye"></i></button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter2" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="product-box row">
                                <div class="product-img col-lg-6"><img class="img-fluid" src="../assets/images/ecommerce_product_3.jpg" alt=""></div>
                                <div class="product-details col-lg-6 text-start">
                                    <h4>Milk Chocolate</h4>
                                    <div class="product-price">&euro; 15,00</div>
                                    <div class="product-view">
                                        <h6 class="f-w-600">Dettagli del prodotto</h6>
                                        <p class="mb-0">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo.</p>
                                    </div>
                                    <div class="product-size">
                                        <ul>
                                            <li>
                                                <button class="btn btn-outline-light" type="button">50 g</button>
                                            </li>
                                            <li>
                                                <button class="btn btn-outline-light" type="button">100 g</button>
                                            </li>
                                            <li>
                                                <button class="btn btn-outline-light" type="button">100 g confezione regalo</button>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-qnty">
                                        <h6 class="f-w-600">Quantità</h6>
                                        <fieldset>
                                            <div class="input-group">
                                                <input class="touchspin text-center" type="number" value="5">
                                            </div>
                                        </fieldset>
                                        <div class="addcart-btn">
                                            <button class="btn btn-primary" type="button">Acquista</button>
                                            <button class="btn btn-secondary" type="button">Vedi dettagli</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Chiudi"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-details">
                <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                <h4>Milk Chocolate</h4>
                <p>Cod. MLK-CHL</p>
                <div class="product-price">&euro; 15,00</div>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-3 col-sm-6 xl-4">
    <div class="card">
        <div class="product-box">
            <div class="product-img">
                <div class="ribbon ribbon-success ribbon-right">50%</div><img class="img-fluid" src="../assets/images/ecommerce_product_4.jpg" alt="">
                <div class="product-hover">
                    <ul>
                        <li>
                            <button class="btn" type="button"><i class="icon-shopping-cart"></i></button>
                        </li>
                        <li>
                            <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalCenter3"><i class="icon-eye"></i></button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter3" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="product-box row">
                                <div class="product-img col-lg-6"><img class="img-fluid" src="../assets/images/ecommerce_product_4.jpg" alt=""></div>
                                <div class="product-details col-lg-6 text-start">
                                    <h4>Pure lotion</h4>
                                    <div class="product-price">&euro; 10,00
                                        <del>&euro; 20,00    </del>
                                    </div>
                                    <div class="product-view">
                                        <h6 class="f-w-600">Dettagli del prodotto</h6>
                                        <p class="mb-0">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo.</p>
                                    </div>
                                    <div class="product-qnty">
                                        <h6 class="f-w-600">Quantità</h6>
                                        <fieldset>
                                            <div class="input-group">
                                                <input class="touchspin text-center" type="number" value="5">
                                            </div>
                                        </fieldset>
                                        <div class="addcart-btn">
                                            <button class="btn btn-primary" type="button">Acquista</button>
                                            <a href="{{ path('shop-articolo') }}"><button class="btn btn-secondary" type="button">Vedi dettagli</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Chiudi"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-details">
                <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                <h4>Pure lotion</h4>
                <p>Cod. PR-LTN</p>
                <div class="product-price">&euro; 10,00<del>&euro; 20,00</del></div>
            </div>
        </div>
    </div>
</div>