{% extends 'layouts/interno.html.twig' %}
{% block title %}Carriera{% endblock %}

{% block css_page %} {% endblock css_page %}

{% block page_body %}

    <div class="page-body">
        <!-- region titolo e breadcrumb -->
        <h1>Benvenuto nella pagina della tua carriera</h1>
        <!-- Container-fluid Ends-->
    </div>

{% endblock page_body %}

{% block javascript %} {% endblock javascript %}

{% block javascript_page %} {% endblock javascript_page %}