<div class=" news">
    <div id="div_sponsor" class="card custom-card p-b-0 resize_equal_height resize_equal_height_xl resize_equal_height_xxl">
        <div id="div_profile_overview" class="p-15">

            <div class="card-header d-none d-md-none d-sm-non d-lg-none d-xl-block p-t-0 p-b-0">
                <img class="img-fluid" src="/assets/images/sponsor_background_test.jpg" alt=""></div>
            <div id="div_profile_general_data">
                <div class="card-profile">
                    <img class="rounded-circle" src="/assets/images/foto_profilobase_minisito.jpg" alt="">
                </div>
                <div class="text-center profile-details">
                    <h4></h4>
                    <h6 class="text-danger">{{ message | raw}}</h6>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>