<form class="form card needs-validation" novalidate="" method="post" action="{{ path('aggiorna-dati-account') }}">
    <div class="resize_equal_height resize_equal_height_xl resize_equal_height_xxl">
        <div class="card-header">
            <h5 class="card-title mb-0">{% trans %}Gestisci i dati del tuo account{% endtrans %}</h5>
            <div class="card-options">
                <a class="card-options-collapse" href="#" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a><a class="card-options-remove" href="#" data-bs-toggle="card-remove"><i class="fe fe-x"></i></a>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="mb-3">
                        <label class="form-label">{% trans %}Vecchia password{% endtrans %}</label>
                        <input class="form-control type_password" name="vecchiaPassword" id="Password" type="password" required>
                        <div class="invalid-feedback">{% trans %}Specificare la vecchia password{% endtrans %}</div>
                    </div>
                </div>
                <div class="clearflix"></div>
                <div class="col-sm-6 col-md-6">
                    <div class="mb-3">
                        <label class="form-label">{% trans %}Nuova password{% endtrans %}</label>
                        <input class="form-control type_password" name="nuovaPassword" id="new_Password" type="password" required="">
                        <div class="invalid-feedback">{% trans %}Specificare la nuova password{% endtrans %}</div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="mb-3">
                        <label class="form-label">{% trans %}Conferma password{% endtrans %}</label>
                        <input class="form-control type_password" required="" name="confermaPassword" id="new_Password_confirm" type="password">
                        <div class="invalid-feedback">{% trans %}Le password immesse non corrispondono{% endtrans %}</div>
                    </div>
                </div>
                <div class="col-sm-12"><input type="checkbox" id="show_characters" value="ON"> {% trans %}Mostra caratteri{% endtrans %}</div>
                <!--div class="m-b-40"></div>
                <div class="col-sm-6 col-md-6">
                    <div class="mb-3">
                        <label class="form-label">Lingua predefinita</label>
                        <i class="flag-icon flag-icon-it"></i><select class="form-select btn-square">
                            <option value="0">Italiano</option>
                            <option value="1">Germany</option>
                            <option value="2">Canada</option>
                            <option value="3">Usa</option>
                            <option value="4">Aus</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input class="form-control" type="email" name="email" required="" value="digita-un-indirizzo@errato-per-fare-il-test.it">
                        <div class="invalid-feedback">Specificare un indirizzo e-mail valido.</div>
                    </div>
                </div-->
            </div>
        </div>
        <div class="card-footer">
            <input id="btn_submit" class="btn btn-primary" type="submit" onsubmit="verificaNuovaPassword()" value="{% trans %}Aggiorna dati{% endtrans %}">
        </div>
        <div class="card-footer">
            {% if oblio | length == 0 or (oblio | length > 0 and oblio.richiesta_pendente == 0) %}
                <div class="col-sm-8 float-start">
                    <small>{% trans %}Desideri effettuare la richiesta di oblio dei dati{% endtrans %}</small>
                    <small>{% trans %}Prima di effettuare la richiesta di oblio assicurati di aver compreso cosa comporta tale operazione{% endtrans %}
                        <a target="_blank" href="https://www.garanteprivacy.it/regolamentoue/oblio">{% trans %}Per approfondimenti clicca qui{% endtrans %}</a>
                    </small>
                </div>
                <div class="col-sm-4 float-end">
                    <a class="btn btn-light float-end" id="btn-oblio" href="javascript:richiediOblio();">
                        <i data-feather="user-x"></i> {% trans %}Richiedi oblio{% endtrans %}
                    </a>
                </div>
            {% elseif oblio | length > 0 and oblio.richiesta_pendente == 1 %}
                <div class="col-sm-8 float-start">
                    <small>{% trans %}La tua richiesta di oblio e stata registrata il{% endtrans %} {{ oblio.data_richiesta | date("d/m/Y") }} {% trans %}alle ore{% endtrans %} {{ oblio.data_richiesta | date("H:i:s") }}.</small>
                </div>
            {% endif %}
            <div class="clearfix"></div>
        </div>
    </div>
</form>
<script>
	function verificaNuovaPassword(){
		if(document.getElementById('new_Password').value != ""){
			document.getElementById('new_Password_confirm').setAttribute('required', ' ')
		}
	}
	function richiediOblio(){
		if(confirm('{% trans %}ALERT_JS_Sei sicuro di voler richiedere loblio del tuo account{% endtrans %}')){
			location.href = '{{ path('richiedi-oblio-account') }}';
		}
	}
</script>