<div class="card height_100" id="carriera">
    <div id="carriera_header" class="card-header">
        <div class="header-top">
            <h5 class="m-0">La tua Carriera</h5>
        </div>
    </div>

    <div id="carriera_container" class="card-body p-0">
        <div class="news-update ">
            La tua qualifica è <span class="span_qualifica_1"> {{ info.rankAttuale.Nome }}</span>
        </div>
        <div class="news-update mt-custom-n1">
            <p>Hai soddisfatto i requisiti della modalità FAST per ottenedere la qualifica<span class="span_qualifica_2"> {{ info.rankSuccessivo.Nome }}</span> .<br>
            Ricorda di cliccare su "CONFERMA QUALIFICA" per ottenere la qualifica di Business unit dal prossimo mese
            </p>
                <div class="text-center"><a href="{{ path('conferma-qualifica') }}" class="btn btn-primary m-auto col-10">Conferma qualifica</a></div>
        </div>
    </div>
</div>
